body, h1, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: rgb(#fff);
    color: #fff;
    text-align: center;
    padding: 10px;
}